<!DOCTYPE html>
<html>
  <head>
    <title>qiiwexc {PROJECT_VERSION}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../d/stylesheet.css" />
  </head>

  <body>
    <header>
      <p></p>
      <h2><a href="{URL_BAT_FILE}">qiiwexc {PROJECT_VERSION}</a></h2>
    </header>

    <main>
      <section class="downloads">
        <div class="Windows">
          <a target="_blank" href="{URL_WINDOWS_11}">Windows 11</a>
        </div>
        <div class="Windows">
          <a target="_blank" href="{URL_WINDOWS_10}">Windows 10</a>
        </div>
        <div class="Legacy">
          <a target="_blank" href="{URL_WINDOWS_7}">Windows 7</a>
        </div>

        <br />

        <div class="Office">
          <a href="{URL_OFFICE_INSTALLER}">Office Installer+</a>
        </div>
        <div class="Activator">
          <a href="{URL_ACTIVATION_PROGRAM}">Activation Program</a>
        </div>

        <br />

        <div class="Drivers">
          <a href="{URL_SDIO}">Drivers</a>
        </div>
        <div class="Ninite">
          <a target="_blank" href="{URL_NINITE}/?select=7zip-vlc-anydesk-chrome"
            >Ninite</a
          >
        </div>

        <br />

        <div class="Rufus">
          <a href="{URL_RUFUS}">Rufus</a>
        </div>
        <div class="Ventoy">
          <a href="{URL_VENTOY}">Ventoy</a>
        </div>

        <br />

        <div class="xml">
          <a target="_blank" href="{URL_UNATTEND_GENERATOR}"
            >Unattended file generator</a
          >
        </div>

        <br />

        <div class="xml">
          <a
            target="_blank"
            href="d/autounattend-English.xml"
            download="autounattend.xml"
            >Unattended (English)</a
          >
        </div>
        <div class="xml">
          <a
            target="_blank"
            href="d/autounattend-Russian.xml"
            download="autounattend.xml"
            >Unattended (Russian)</a
          >
        </div>

        <br />

        <div class="Victoria">
          <a href="{URL_VICTORIA}">Victoria</a>
        </div>
        <div class="CPU-Z">
          <a href="{URL_CPU_Z}">CPU-Z</a>
        </div>

        <br />

        <div class="SystemRescue">
          <a target="_blank" href="{URL_SYSTEM_RESCUE}">SystemRescue</a>
        </div>
        <div class="TronScript">
          <a target="_blank" href="{URL_TRONSCRIPT}">TronScript</a>
        </div>
      </section>

      <br />

      <section class="content">
        <article>
          <details>
            <summary>Installing Windows 11 with a local account</summary>
            <ol>
              <li>Start Windows 11 installation normally</li>
              <li>
                After the restart, when asked to sing in, press
                <kbd>Shift + F10</kbd>
              </li>
              <li>
                In the command prompt window type the
                <code>start ms-chx:localonly</code> command
              </li>
              <li>
                Close the command prompt window and proceed with creating a
                local Windows account
              </li>
            </ol>
            <details>
              <summary>Older builds</summary>
              <ol>
                <li>Start Windows 11 installation normally</li>
                <li>After the restart, press <kbd>Shift + F10</kbd></li>
                <li>
                  In the command prompt window type the
                  <code>OOBE\BYPASSNRO</code> command to disable the Internet
                  connection requirement (the computer will restart)
                </li>
                <li>After the restart, press <kbd>Shift + F10</kbd> again</li>
                <li>
                  Type <code>ipconfig /release</code> command to disable the
                  Internet connection or just unplug the Ethernet cable
                </li>
                <li>
                  Close the command prompt window and proceed with creating a
                  local Windows account
                </li>
              </ol>
            </details>
          </details>
        </article>
      </section>
    </main>

    <script src="assets/scripts.js"></script>
  </body>
</html>
