name: Build
run-name: Build

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run build
        run: .\build.bat
