name: Build
run-name: Build

permissions:
  contents: read

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.2

      - name: Run build
        run: .\build-ci.bat

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: build-output
          path: |
            d/
          retention-days: 90
