name: CI
run-name: CI (${{ github.event_name }} on ${{ github.ref_name }})

permissions: {}

on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Test
        uses: ./.github/actions/test

  build:
    needs: test
    runs-on: windows-latest
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build
        uses: ./.github/actions/build

  deploy:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: pages
      cancel-in-progress: false
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    outputs:
      tag: ${{ steps.deploy.outputs.tag }}
      should_release: ${{ steps.deploy.outputs.should_release }}
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Deploy
        id: deploy
        uses: ./.github/actions/deploy

  release:
    needs: deploy
    if: needs.deploy.outputs.should_release == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Release
        uses: ./.github/actions/release
        with:
          tag: ${{ needs.deploy.outputs.tag }}
