name: CI
run-name: CI (${{ github.event_name }} on ${{ github.ref_name }})

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches: ["*"]
    tags-ignore: ["*"]
  pull_request:

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml

  build:
    needs: test
    permissions:
      contents: read
    uses: ./.github/workflows/build.yml

  deploy:
    needs: build
    if: github.ref == 'refs/heads/master'
    permissions:
      contents: read
      pages: write
      id-token: write
    uses: ./.github/workflows/deploy.yml

  release:
    needs: deploy
    if: needs.deploy.outputs.should_release == 'true'
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      tag: ${{ needs.deploy.outputs.tag }}
