name: Deploy to GitHub Pages
run-name: Deploy (${{ github.ref_name }} - ${{ github.run_attempt }})

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

on:
  workflow_run:
    branches: [master]
    workflows: [Build]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          name: build-output
          path: build
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}

      - name: Move build artifacts
        shell: bash
        run: mv assets/favicon.ico ./ && mv build/* ./ && rm -r build

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: .

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: deploy-output
          path: |
            qiiwexc.bat
            qiiwexc.ps1
            autounattend-*.xml
