name: Create a release

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: build-output
          path: artifacts

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          tag_name: ${{ inputs.tag }}
          name: ${{ inputs.tag }}
          generate_release_notes: true
          files: |
            artifacts/build/qiiwexc.bat
            artifacts/build/qiiwexc.ps1
            artifacts/build/autounattend-*.xml
