name: Test
run-name: Test (${{ github.ref_name }} - ${{ github.event_name }} - ${{ github.run_attempt }})

permissions:
  contents: read

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.2

      - name: Install Pester
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module -Name Pester -Force -Scope CurrentUser -MinimumVersion 5.7.1

      - name: Run tests with coverage
        run: .\test-with-coverage.bat
