name: Test
run-name: Test
permissions:
  contents: read

on:
  push:

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run tests with coverage
        run: .\test-with-coverage.bat
